* {
   box-sizing: border-box;
}

.hero { 
   text-align: center;
   padding: 1% 2%;
}

.form {
   padding-bottom: 2%;
}

.list-group {
   padding: 0;
   list-style: none;
}

.search-btn {
   border: none;
   background-color: rgb(94, 22, 122);
   border-radius: 11px;
   color: hsl(0, 0%, 100%);
   display: flex;
   font-size: 22px;
   margin: 8px 16px 4px 20px;
   width: 150px;
   padding: 14px 24px;
   text-align: center;
   cursor: pointer;
   outline: none;
}


.h3 {
  justify-content: right;
}

.curr-stats {
  padding-top: 15px;
}

.card-img {
  max-width: 40%;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}
 
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
 
.justify-space-between {
   justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}
 
.justify-flex-start {
  justify-content: flex-start
}
 
.justify-flex-end {
  justify-content: flex-end;
}
 
.justify-center {
  justify-content: center;
}
 
.align-stretch {
  align-items: stretch;
}
 
.align-end {
  align-items: flex-end;
}
 
.align-center {
  align-items: center;
}
 
.col-auto {
  flex-grow: 1;
}

.col-12 {
  flex: 0 0 100%;
}

@media screen and (min-width: 768px) {
   .col-md-4 {
     flex: 0 0 calc(100% * 4 / 12 - 2%);
   }
  
   .col-md-8 {
     flex: 0 0 calc(100% * 8 / 12 - 2%);
   }
}